* text=auto

# Scripts e configs: usar LF (bom p/ Linux/containers/CI)
*.sh     text eol=lf
*.py     text eol=lf
*.tf     text eol=lf
*.tfvars text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.md     text eol=lf

# Windows natives: manter CRLF
*.bat    text eol=crlf
*.ps1    text eol=crlf